<!DOCTYPE html>
<html>
<head>
  <title>Interview</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="header"><h2>Answer the Questions Below</h2></div>

  <div class="container">
    <form action="/submit-interview" method="POST">
      {% for q in questions %}
        <div class="question-block">
          <p><b>Q{{ loop.index }}: {{ q[1] }}</b></p>
          <textarea name="question_{{ q[0] }}" required></textarea>
        </div>
      {% endfor %}
      <button type="submit">Submit Answers</button>
    </form>
  </div>
</body>
</html>
